* {
  margin: 0;
  padding: 0;
}

.maindiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: url("../photos/forgot_password_formBackground.jpg") center
    center/cover no-repeat;
}

.logodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 6.5vw;
  font-size: 4vw;
}

.msgdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 9vw;
  font-size: 1.3vw;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 12vw;
}

.subInputDiv {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.subInputDiv label {
  font-size: 1.5vw;
}

.subInputDiv input {
  margin-top: 1vw;
  padding-left: 0.2vw;
  height: 3.5vw;
  width: 25vw;
  border: 1px solid rgba(143, 143, 143, 0.796);
  outline: none;
  border-radius: 0.8vw;
  font-size: 1.7vw;
}

.submitbtnDiv {
  position: relative;
  top: 14vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitbtnDiv button {
  width: 23vw;
  height: 3vw;
  border-radius: 0.3vw;
  font-size: 1.5vw;
  border: none;
  background-color: green;
  color: white;
  font-weight: 500;
}

.createaccountDiv {
  position: relative;
  top: 16vw;
  display: flex;
  justify-content: center;
  font-size: 1.25vw;
}

.termsandcontotionDiv {
  position: relative;
  top: 27vw;
  display: flex;
  justify-content: center;
}

.termsandcontotionDiv span {
  margin-right: 1vw;
  font-size: 1.3vw;
}

.termsandcontotionDiv span a {
  text-decoration: none;
  color: black;
}

/* Media Quaries */

@media only screen and (max-width: 1251px) {
  .logodiv {
    top: 8vh;
  }

  .msgdiv {
    top: 14vh;
  }

  .inputDiv {
    top: 23vh;
  }

  .submitbtnDiv {
    top: 28vh;
  }

  .createaccountDiv {
    top: 33vh;
  }

  .termsandcontotionDiv {
    top: 50vh;
  }
}

@media only screen and (max-width: 1000px) {
  .logodiv {
    top: 14vh;
    font-size: 4vw;
  }

  .msgdiv {
    top: 18vh;
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 850px) {
  .logodiv {
    top: 14vh;
    font-size: 4.8vw;
  }

  .msgdiv {
    top: 18vh;
  }

  .inputDiv {
    top: 26vh;
  }

  .subInputDiv label {
    font-size: 1.7vw;
  }

  .submitbtnDiv {
    top: 30vh;
  }

  .createaccountDiv {
    top: 34vh;
    font-size: 1.4vw;
  }

  .termsandcontotionDiv {
    top: 60vh;
  }

  .termsandcontotionDiv span {
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 650px) {
  .logodiv {
    top: 10vh;
    font-size: 7vw;
  }

  .msgdiv {
    top: 15vh;
    font-size: 1.8vw;
  }

  .inputDiv {
    top: 22vh;
  }

  .subInputDiv label {
    font-size: 2.2vw;
  }

  .subInputDiv input {
    margin-top: 1.2vw;
    padding-left: 0.5vw;
    height: 5vw;
    width: 33vw;
    font-size: 2.1vw;
  }

  .submitbtnDiv {
    top: 27vh;
  }

  .submitbtnDiv button {
    width: 30vw;
    height: 4vw;
    border-radius: 0.5vw;
    font-size: 2vw;
  }

  .createaccountDiv {
    top: 32vh;
    font-size: 1.8vw;
  }

  .termsandcontotionDiv {
    top: 55vh;
  }

  .termsandcontotionDiv span {
    font-size: 1.4vw;
  }
}

@media only screen and (max-width: 500px) {
  .logodiv {
    top: 10vh;
    font-size: 10vw;
  }

  .msgdiv {
    top: 15vh;
    font-size: 2.5vw;
  }

  .subInputDiv label {
    font-size: 3.5vw;
  }

  .subInputDiv input {
    height: 7vw;
    width: 45vw;
    font-size: 3.5vw;
  }

  .submitbtnDiv {
    top: 26vh;
  }

  .submitbtnDiv button {
    width: 41vw;
    height: 5.5vw;
    border-radius: 0.7vw;
    font-size: 3vw;
  }

  .createaccountDiv {
    top: 30vh;
    font-size: 2.5vw;
  }

  .termsandcontotionDiv span {
    font-size: 2.3vw;
  }
}
