* {
  margin: 0;
  padding: 0;
}

.maindiv {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: url('../photos/forgot_password_formBackground.jpg') center center/cover no-repeat;;
}

.logodiv {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 3vw;
  font-size: 4vw;
}

.msgdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10vw;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15vw;
}

.subInputDiv {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.subInputDiv input {
  margin-top: 1vw;
  padding-left: 0.2vw;
  height: 1.9vw;
  border: 1px solid rgba(143, 143, 143, 0.796);
  outline: none;
  border-radius: 0.2vw;
  font-size: 1.3vw;
}

.submitbtnDiv {
  position: relative;
  top: 17vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submitbtnDiv button {
  width: 17.5vw;
  height: 2.2vw;
  border-radius: 0.3vw;
  font-size: 1.3vw;
  border: none;
  background-color: green;
  color: white;
  font-weight: 500;
}

.createaccountDiv {
  position: relative;
  top: 19vw;
  display: flex;
  justify-content: center;
}

.termsandcontotionDiv {
  position: relative;
  top: 30vw;
  display: flex;
  justify-content: center;
}

.termsandcontotionDiv span{
    margin-right: 1vw;
    font-size: 1.3vw;
}

.termsandcontotionDiv span a{
    text-decoration: none;
    color: black;
}