* {
  margin: 0;
  padding: 0;
}

.bodyDiv {
  background-color: rgb(220 241 231);
  height: 100vh;
}

#mainDiv {
  position: relative;
  top: 15vh;
  left: 7vw;
  height: 70vh;
  width: 86vw;
  background-color: rgb(255 255 255);
  border-radius: 5vh;
  display: flex;
  justify-content: space-between;
}

.subdiv {
  width: 37vw;
  height: 56vh;
  position: relative;
  top: 6.5vh;
  margin-left: 3.4vw;
  margin-right: 3.4vw;
  background-color: white;
}

.summary {
  padding-top: 1.3vw;
  position: relative;
  flex-grow: 1;
  flex-basis: 0;
}
.summary .summary_body {
  border: 1px solid #dedede;
  border-radius: 1vw;
  position: fixed;
  width: 29%;
}
.summary .summary_body .package_name {
  padding: 1vw 1.5vw 0;
  color: #3e3d53;
  font-size: 1.3vw;
  font-weight: bold;
}

.summary .summary_body .generic_section {
  padding: 1.5em 1.5em 0;
  display: flex;
  color: #3e3d53;
}
.summary .summary_body .generic_section .journey_date {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  font-size: 1.1vw;
  color: #34495e;
  padding-right: 1vw;
  border-right: 1px solid #dedede;
  align-items: center;
}
.summary .summary_body .generic_section .journey_date .date_label {
  text-align: center;
}
.summary .summary_body .generic_section .journey_date .date {
  font-weight: bold;
  background: rgb(251, 255, 251);
  padding: 0.7vw 0.9vw;
}
.summary .summary_body .generic_section .includes {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 1em;
  width: 70%;
}
.summary .summary_body .generic_section .includes .pkg_incl_label {
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 0.2vw;
}
.summary .summary_body .generic_section .includes .pkg_includes {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.summary .summary_body .generic_section .includes .pkg_includes .benefits {
  display: flex;
  align-items: center;
  margin: 0.4vw 0;
  flex-basis: 1;
  flex: 1 0 30%;
}

.summary
  .summary_body
  .generic_section
  .includes
  .pkg_includes
  .benefits
  .text {
  font-size: 0.9vw;
  margin-left: 0.8vw;
}
.summary .summary_body .select_seat {
  margin-top: 1.4vw;
  border-top: 1px solid #dedede;
  padding: 1.5vw;
  display: flex;
  flex-direction: column;
}
.select_seat_upcontainer {
  display: flex;
}
.sela-bt-cont {
  width: fit-content;
}
.lnepartion {
  height: 5.5vw;
  border: 1px solid rgba(60, 58, 58, 0.353);
  margin-left: 1vw;
}
.slseno-cont {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
}
.slseno-cont label {
  margin-left: 1vw;
  font-size: 1.3vw;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.728);
}
#number_of_seats {
  width: 3.6vw;
  height: 2vw;
  position: relative;
  top: 1vw;
  left: 2vw;
  outline: none;
  font-size: 1.5vw;
  padding-left: 0.5vw;
  border: #aeaeae solid 0.2vw;
  border-radius: 0.5vw;
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.5);
}
.summary .summary_body .select_seat .select_label {
  color: #3e3d53;
  font-size: 1.2vw;
  font-weight: bold;
  margin-bottom: 0.8vw;
}
.summary .summary_body .select_seat .bus_travels {
  color: #7e7e8d;
}
.summary .summary_body .select_seat .bus_travels > span:first-child {
  font-size: 1.45vw;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5vw;
}
.summary .summary_body .select_seat .bus_travels > span:last-child {
  font-size: 1.1vw;
  text-transform: initial;
}
.summary .summary_body .select_seat .book_seat_btn {
  border-radius: 0.6vw;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.4vw;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 1em;
  padding: 0.5em;
  text-transform: uppercase;
  outline: 0;
  border: none;
  cursor: pointer;
}
.summary .summary_body .select_seat .book_seat_btn:focus {
  outline: 0;
}

.fixed_summary {
  position: fixed;
  width: 29%;
}

.section_heading {
  color: #000000;
  font-size: 2vw;
  font-weight: 600;
  margin: 0;
  margin-left: 2vw;
  margin-top: 2vw;
}

#agendaCompanyname {
  font-size: 1.5vw;
}

.activityCard {
  margin-top: 6vh;
  margin-left: 2vw;
}

.cardContainer {
  padding-left: 24px;
}

.activityCard .card {
  margin-top: 0.5vw;
  padding-bottom: 1.3vw;
  background: #fff;
  border-bottom: 1px solid #d1d1d8;
}

.activityCard .card .card_detail {
  display: flex;
}

.activityCard .card .card_detail .card_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.activityCard .card .card_detail .card_content .card_header {
  font-size: 0.875em;
}

.activityCard .card .cardLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1vw;
}

.activityCard .card .card_detail .card_content .card_header .cardSubHeading {
  color: #7e7e8d;
}

.activityCard .card .card_detail .card_content .card_body {
  flex-grow: 1;
  position: relative;
  color: #3e3d53;
  font-size: 1em;
  margin-top: 1em;
}

.activityCard .card .card_detail .card_content .card_body .card_description {
  font-size: 0.75em;
}

.activityCard
  .card
  .card_detail
  .card_content
  .card_body
  .card_description
  .cardLine:first-child {
  margin-bottom: 0.5em;
}

.cancellationContainer {
  font-size: 2vw;
  color: #3e3d53;
  margin-top: 16px;
  margin-bottom: 16px;
}

.cancellationContainer td {
  border: 1px solid #dddddd;
  font-size: 1vw;
  line-height: 2;
  letter-spacing: normal;
  color: #3e3d53;
  text-align: center;
}

.cancellationContainer table {
  border-collapse: collapse;
}

.durationTd {
  width: 35%;
}

.cancellationHeader {
  font-size: 2vw;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.26;
  letter-spacing: normal;
  color: #3e3d53;
  margin-top: 16px;
  margin-bottom: 16px;
}

.header_cancellation {
  font-size: 1.2vw;
  box-sizing: border-box;
  border: 1px solid #dddddd;
}

.time_cancellation_text {
  font-weight: 600;
  border: 1px solid #dddddd;
  padding: 8px;
}

.percentage_deduction_cancellation {
  font-weight: 600;
  border: 1px solid #dddddd;
  padding: 8px;
}

.deduction_percentage {
  width: 33%;
}

.percentage_cancellation_charges {
  font-weight: 600;
  border: 1px solid #dddddd;
  padding: 8px;
}

.tncDescription {
  background: #ffffff;
  color: #3e3e52;
}

.tncDescription .termsCondition {
  font-size: 0.9vw;
  padding: 0px 0px 1vw;
}

/* Media Quaries */

@media screen and (max-width: 900px) {
  .summary .summary_body .package_name {
    font-size: 1.8vw;
  }

  .summary .summary_body .generic_section .journey_date {
    font-size: 1.4vw;
  }

  .summary .summary_body .generic_section .includes .pkg_incl_label {
    font-size: 1.4vw;
    margin-bottom: 0.3vw;
  }

  .summary
    .summary_body
    .generic_section
    .includes
    .pkg_includes
    .benefits
    .text {
    font-size: 1.2vw;
  }

  .summary .summary_body {
    width: 34%;
  }

  .summary .summary_body .select_seat .select_label {
    font-size: 1.5vw;
  }

  .summary .summary_body .select_seat .bus_travels > span:first-child {
    font-size: 1.7vw;
    margin-bottom: 0.7vw;
  }

  .summary .summary_body .select_seat .bus_travels > span:last-child {
    font-size: 1.2vw;
  }

  .lnepartion {
    height: 7vw;
    margin-left: 1.5vw;
  }

  .slseno-cont label {
    margin-left: 0.7vw;
    font-size: 1.7vw;
  }

  #number_of_seats {
    width: 3.8vw;
    height: 2.2vw;
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 724px) {
  .summary {
    padding-top: 6vh;
  }
}

@media screen and (max-width: 600px) {
  #mainDiv {
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    top: 4;
    left: 5vw;
    height: 98vh;
    width: 90vw;
  }

  .subdiv {
    top: 4.5vh;
    width: 80vw;
  }

  #mainDiv .subdiv:nth-child(1) {
    border-bottom: 3px solid rgb(232, 229, 229);
  }

  #mainDiv .subdiv:nth-child(2) {
    margin-top: 6vw;
    position: static;
    overflow-y: scroll;
  }

  .summary {
    padding-top: 0;
  }

  .section_heading {
    font-size: 4.5vw;
  }

  #agendaCompanyname {
    font-size: 3.5vw;
  }

  .activityCard {
    margin-top: 2vw;
  }

  .activityCard .card .cardLine {
    font-size: 2.5vw;
  }

  .header_cancellation {
    font-size: 2.5vw;
  }

  .cancellationContainer td {
    font-size: 2vw;
  }

  .tncDescription .termsCondition {
    font-size: 2.3vw;
  }

  .summary .summary_body {
    width: 70%;
    margin-left: 4vw;
    margin-top: 6vw;
  }

  .summary .summary_body .package_name {
    font-size: 3.5vw;
  }

  .summary .summary_body .generic_section .journey_date {
    font-size: 2.3vw;
  }

  .summary .summary_body .generic_section .includes .pkg_incl_label {
    font-size: 2.3vw;
  }

  .summary
    .summary_body
    .generic_section
    .includes
    .pkg_includes
    .benefits
    .text {
    font-size: 1.8vw;
  }

  .summary .summary_body .select_seat .select_label {
    font-size: 2.2vw;
  }

  .summary .summary_body .select_seat .bus_travels > span:first-child {
    font-size: 2.2vw;
    margin-bottom: 0.7vw;
  }

  .summary .summary_body .select_seat .bus_travels > span:last-child {
    font-size: 1.9vw;
  }

  .slseno-cont label {
    font-size: 2.5vw;
  }

  #number_of_seats {
    width: 5vw;
    height: 3.5vw;
    font-size: 2.7vw;
  }

  .summary .summary_body .select_seat .book_seat_btn {
    font-size: 2.2vw;
    letter-spacing: 1.7px;
  }
}

@media screen and (max-width: 450px) {
  #mainDiv {
    position: static;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }

  .subdiv {
    top: 4.5vh;
    width: 98vw;
  }

  .section_heading {
    font-size: 6vw;
  }

  #agendaCompanyname {
    font-size: 4vw;
  }

  .header_cancellation {
    font-size: 2.9vw;
  }

  .cancellationContainer td {
    font-size: 2.5vw;
  }

  .tncDescription .termsCondition {
    font-size: 2.5vw;
  }

  .summary .summary_body {
    margin-top: 15vw;
    margin-left: 6vw;
    width: 85%;
  }

  .summary .summary_body .package_name {
    font-size: 5vw;
  }

  .summary .summary_body .generic_section {
    padding: 1em 1.9em 0;
    display: flex;
    color: #3e3d53;
  }

  .summary .summary_body .generic_section .journey_date {
    font-size: 3.5vw;
  }

  .summary .summary_body .generic_section .includes .pkg_incl_label {
    font-size: 3.5vw;
  }

  .summary
    .summary_body
    .generic_section
    .includes
    .pkg_includes
    .benefits
    .text {
    font-size: 2.8vw;
  }

  .summary .summary_body .select_seat .bus_travels > span:first-child {
    font-size: 3.2vw;
}

  .summary .summary_body .select_seat .bus_travels > span:last-child {
    font-size: 2.8vw;
}

  .summary .summary_body .select_seat .select_label {
    font-size: 3.5vw;
  }

  .slseno-cont label {
    font-size: 4vw;
  }

  #number_of_seats {
    width: 10vw;
    height: 6vw;
    font-size: 5vw;
  }

  .lnepartion {
    height: 15vw;
}

  .summary .summary_body .select_seat .book_seat_btn {
    font-size: 3.7vw;
    letter-spacing: 1.5px;
    margin-top: 3vw;
  }
}
