.navbar {
  height: fit-content;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  background: rgb(239 239 239 / 90%);
  display: flex;
  z-index: 99999;
  justify-content: space-between;
}

.nav-logo {
  margin-top: 0.5vw;
  margin-bottom: 0vh;
  margin-right: 1vw;
  margin-left: 0.4vw;
}

.nav-logo img {
  height: 4vw;
}

.nav-logo a,
.navigation-items ul li a {
  color: rgba(10, 10, 10, 0.899);
  text-decoration: none;
}

.navigation-items {
  width: 25vw;
  transform: translateX(25vw);
}

.navigation-items ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.6vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

.join {
  margin-left: 1vw;
  margin-right: 5vw;
  margin-top: 1vw;
}

.sub-menu-wrap {
  float: right;
  background: #eceaff;
  border-radius: 10%;
  margin-right: 2.5vw;
  margin-top: 12vh;
  overflow: hidden;
  z-index: 999;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
}

.sub-menu-wrap.open-menu {
  max-height: 100vh;
}

.sub-menu {
  margin: 1vw;
}

.sub-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
}

.sub-menu ul li {
  font-size: 1 rem;
  margin-top: 1vh;
}

.sub-menu ul li a {
  text-decoration: none;
  color: black;
}

/* media quaries */

@media only screen and (max-width: 1090px) {
  .nav-logo {
    margin-top: 0.5vw;
  }

  .nav-logo img {
    height: 4.8vw;
  }
  .navigation-items {
    width: 27vw;
    transform: translateX(22vw);
  }

  .navigation-items ul {
    margin-top: 1.6vw;
    font-size: 1.9vw;
    margin-bottom: 2vw;
  }

  .navigation-items ul li a {
    margin-left: 3vw;
  }
}

@media only screen and (max-width: 900px) {
  .nav-logo {
    margin-top: 0.5vw;
  }

  .navigation-items ul {
    font-size: 2.1vw;
    margin-bottom: 2vw;
  }

  .navigation-items {
    transform: translateX(14vw);
  }

  .navigation-items ul li a {
    margin-left: 4vw;
  }
}

@media screen and (max-width: 800px) {
  .nav-logo {
    margin-top: 0.5vw;
  }

  .nav-logo img {
    height: 5.3vw;
  }

  .navigation-items {
    transform: translateX(8vw);
  }

  .navigation-items ul {
    font-size: 2.4vw;
    margin-bottom: 2vw;
  }

  .navigation-items ul li a {
    margin-left: 5vw;
  }
}

@media only screen and (max-width: 700px) {
  .nav-logo {
    margin-top: 1vw;
  }

  .nav-logo img {
    height: 5.7vw;
  }

  .navigation-items ul {
    font-size: 2.7vw;
    margin-top: 2vw;
  }

  .navigation-items ul li a {
    margin-left: 3.8vw;
  }

  .navigation-items {
    transform: translateX(3vw);
  }

  .join {
    margin-top: 1.5vw;
    height: 4.5vw;
  }
}

@media only screen and (max-width: 500px) {
  .navigation-items ul {
    font-size: 3.3vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
  }

  .navigation-items ul li a {
    margin-left: 4vw;
  }

  .navigation-items {
    transform: translateX(-12vw);
  }
}
