/* css reset */

* {
  margin: 0;
  padding: 0;
}

/* navigation bar design */

.navbar {
  height: fit-content;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background: rgba(10, 10, 10, 0.899);
  display: flex;
  justify-content: space-between;
}

/* logo design */

.logo {
  font-size: 2rem;
  margin-top: 0.5vh;
  margin-bottom: 0vh;
  margin-right: 1vw;
  margin-left: 1vw;
}

.logo a,
.navigation-items ul li a,
.join a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* navigation items design */

.navigation-items {
  width: 25vw;
  transform: translateX(25vw);
}

.navigation-items ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.29rem;
  margin-top: 2.2vh;
}

/* divider properties */

.divider {
  height: 10vh;
  width: 1px;
  border-right: 1px solid rgb(210, 209, 209);
  transform: translateX(18vw);
}

/* join button design */

.join a {
  font-size: 1.5rem;
}

.join {
  margin-top: 0.2vh;
  margin-left: 1vw;
  margin-right: 5vw;
}

.join-userIMG {
  margin-top: 0.2vh;
  margin-left: 1vw;
  margin-right: 5vw;
  display: none;
}

/* sub menu design */

.sub-menu-wrap {
  float: right;
  background: #eceaff;
  border-radius: 10%;
  margin-right: 2.5vw;
  margin-top: 1.5vh;
  overflow: hidden;
  z-index: 999;
  max-height: 0px;
  transition: max-height 0.5s ease-in-out;
}

.sub-menu-wrap.open-menu {
  max-height: 100vh;
}

.sub-menu {
  margin: 1vw;
}

.sub-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style-type: none;
}

.sub-menu ul li {
  font-size: 1 rem;
  margin-top: 1vh;
}

.sub-menu ul li a {
  text-decoration: none;
  color: black;
}

/* use media qua... */

@media only screen and (max-width: 1090px) {
  /* navigation items design */

  .navigation-items {
    width: 30vw;
    transform: translateX(20vw);
  }

  .navigation-items ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    margin-top: 2vh;
  }

  /* divider properties */

  .divider {
    height: 100;
    width: 1px;
    border-right: 0.1px solid white;
    transform: translateX(15.5vw);
  }
}

@media only screen and (max-width: 930px) {
  /* navigation items design */

  .navigation-items {
    width: 35vw;
    transform: translateX(15vw);
  }

  .navigation-items ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-top: 3vh;
  }

  /* divider properties */

  .divider {
    height: 100;
    width: 1px;
    border-right: 0.1px solid white;
    transform: translateX(13vw);
  }

  /* join button design */

  .join a {
    font-size: 1.3rem;
  }

  .join {
    margin-top: 3vh;
    margin-left: 1vw;
    margin-right: 5vw;
  }
}

@media only screen and (max-width: 730px) {
  /* logo design */

  .logo {
    font-size: 1.8rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  /* navigation items design */

  .navigation-items {
    width: 35vw;
    transform: translateX(18vw);
  }

  .navigation-items ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-top: 3vh;
  }

  /* divider properties */

  .divider {
    height: 100;
    width: 1px;
    border-right: 0.1px solid white;
    transform: translateX(11vw);
  }

  /* join button design */

  .join a {
    font-size: 1.2rem;
  }

  .join {
    margin-top: 3vh;
    margin-left: 1vw;
    margin-right: 5vw;
  }
}

@media only screen and (max-width: 620px) {
  /* logo design */

  .logo {
    font-size: 1.6rem;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  /* navigation items design */

  .navigation-items {
    width: 40vw;
    transform: translateX(16vw);
  }

  .navigation-items ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    margin-top: 2vh;
  }

  /* divider properties */

  .divider {
    height: 100;
    width: 0.1px;
    border-right: 0.1px solid white;
    transform: translateX(9vw);
  }

  /* join button design */

  .join a {
    font-size: 1.15rem;
  }

  .join {
    margin-top: 2vh;
    margin-left: 1vw;
    margin-right: 4vw;
  }
}

@media only screen and (max-width: 540px) {
  /* logo design */

  .logo {
    font-size: 1.4rem;
    margin-top: 1.2vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  /* navigation items design */

  .navigation-items {
    width: 40vw;
    transform: translateX(15vw);
  }

  .navigation-items ul {
    font-size: 0.9rem;
    margin-top: 2.5vh;
  }

  /* divider properties */

  .divider {
    transform: translateX(9vw);
  }

  /* join button design */

  .join a {
    font-size: 0.9rem;
  }

  .join {
    margin-top: 2.5vh;
    margin-left: 1vw;
    margin-right: 3vw;
  }
}

@media only screen and (max-width: 430px) {
  /* logo design */

  .logo {
    font-size: 1.2rem;
    margin-top: 1.2vh;
    margin-bottom: 1vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  /* navigation items design */

  .navigation-items {
    width: 48vw;
    transform: translateX(13vw);
  }

  .navigation-items ul {
    font-size: 0.75rem;
    margin-top: 2vh;
  }

  /* divider properties */

  .divider {
    display: none;
  }

  /* join button design */

  .join a {
    display: none;
  }

  .join-userIMG {
    display: block !important;
    color: wheat;
    margin-top: 1vh;
    margin-right: 3vw;
  }
}

@media only screen and (max-width: 340px) {
  /* logo design */

  .logo {
    font-size: 0.8rem;
    margin-top: 1.2vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  /* navigation items design */

  .navigation-items {
    width: 43vw;
    transform: translateX(18vw);
  }

  .navigation-items ul {
    font-size: 0.5rem;
    margin-top: 2vh;
    margin-bottom: 0;
  }

  /* divider properties */

  .divider {
    display: none;
  }

  /* join button design */

  .join a {
    display: none;
  }

  .join-userIMG {
    display: block;
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: 1vh;
    margin-right: 3vw;
  }
}

@media only screen and (max-width: 240px) {
  /* logo design */

  .logo {
    font-size: 0.8rem;
    margin-top: 1.2vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  /* navigation items design */

  .navigation-items {
    width: 45vw;
    transform: translateX(15vw);
  }

  .navigation-items ul {
    font-size: 0.5rem;
    margin-top: 2vh;
    margin-bottom: 0;
  }

  /* divider properties */

  .divider {
    display: none;
  }

  /* join button design */

  .join a {
    display: none;
  }

  .join-userIMG {
    display: block;
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: 1vh;
    margin-right: 3vw;
  }
}

@media only screen and (max-width: 200px) {
  /* navigation items design */

  .navigation-items {
    width: 53vw;
    transform: translateX(5vw);
  }
}

@media only screen and (max-width: 180px) {
  /* logo design */

  .logo {
    font-size: 0.5rem;
    margin-top: 1.2vh;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  /* navigation items design */

  .navigation-items {
    width: 50vw;
    transform: translateX(5vw);
  }

  .navigation-items ul {
    font-size: 0.2rem;
    margin-top: 3vh;
    margin-bottom: 0;
  }

  /* divider properties */

  .divider {
    display: none;
  }

  /* join button design */

  .join a {
    display: none;
  }

  .join-userIMG {
    display: block;
    color: rgb(255, 255, 255);
    height: 20px;
    margin-top: 0vh;
    margin-right: 1vw;
  }
}
