* {
  margin: 0;
  padding: 0;
}

.alertDiv{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.alertDiv span{
  height: 2rem;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  background-color: rgb(208, 2, 2);
}

.forBscr {
  height: 100%;
  width: 100%;
  background-color: rgb(243, 235, 235);
}

/* .forSscr {
  display: none;
} */

#backbutton {
  color: black;
  border: none;
  cursor: pointer;
  font-size: 2vw;
  position: absolute;
  top: 1vw;
  right: 1vw;
}

.signup-form-container {
  border: 1px rgb(225, 223, 223) solid;
  background-color: rgb(255, 255, 255);
  width: 80vw;
  height: 40vw;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 9px 10px 16px 0px #00000073;
  display: grid;
  grid-template-columns: 20vw 1vw auto;
  grid-template-rows: 20vh 25vh 25vh auto;
}

.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.CompTitl {
  padding: 1vw;
  height: fit-content;
  width: fit-content;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}

.CompTitl img {
  height: 3rem;
}

.cretantlale {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  align-items: center;
  height: fit-content;
  width: fit-content;
  font-size: 1.5vw;
  position: relative;
  top: 4vw;
  left: 3vw;
}

.cretantbtn {
  padding: 2%;
  font-weight: 500;
  font-size: 1.22vw;
  border: none;
  outline: none;
  margin-top: 2vw;
  background-color: #000000;
  color: #fff;
  width: 60%;
  border-radius: 5px;
}

.lnepartion {
  height: 38vw;
  width: 1px;
  border: 1px solid rgba(60, 58, 58, 0.648);
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  display: grid;
  position: relative;
  top: 0.9vw;
}

.loinTtl {
  grid-column: 4 / span 3;
  grid-row: 2 / 10;
  display: grid;
  font-family: "Oswald", sans-serif;
  font-size: 2.5vw;
}

.aldc {
  display: flex;
}

.gretimgDiv {
  width: fit-content;
  height: fit-content;
}

.gretimg {
  height: 28vw;
}

.detailsDiv {
  position: relative;
  left: 3vw;
}

.button-container_email {
  position: relative;
  top: 11vh;
}

.button-container_password {
  position: relative;
  top: 14vh;
}

.forgotpwdlik {
  position: relative;
  top: 1vh;
  left: 150px;
  font-size: 1.2vw;
}

.Loinbtn {
  width: 100%;
}









.bodyDiv {
  height: 100vh;
  width: 100%;
  background-color: #e4e0da;
  display: none;
  justify-content: center;
  align-items: center;
}

.SCmainDivSM {
  display: none;
}

.SCmainDiv {
  height: 80%;
  width: 60%;
  background-color: #f4f1ec;
  border: none;
  outline: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ttlDiv {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.ttlDiv span:first-child {
  font-size: 3rem;
  font-family: "K2D", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: black;
}

.ttlDiv span:last-child {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: rgb(129, 129, 129);
}

.signinContent {
  background-color: rgb(255, 252, 252);
  width: 80%;
  height: 75%;
  margin-top: 0.2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.inputDiv {
  display: flex;
  justify-content: space-evenly;
}

.inputDiv span {
  display: flex;
  flex-direction: column;
}

.inputDiv span label {
  position: relative;
  left: 0.3rem;
  color: rgb(119, 119, 119);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 0.9rem;
}

.inputDiv span input {
  width: 15rem;
  height: 2rem;
  border: none;
  border-bottom: 1px solid rgb(212, 212, 212);
  outline: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

.forgotpassDiv {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #939393;
}

.forgotpassDiv span a {
  text-decoration: none;
  color: rgb(28, 81, 255);
}

.btnDiv {
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btnDiv button:first-child {
  height: 1.7rem;
  width: 18rem;
  font-size: 0.75rem;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: rgba(0, 0, 0, 0.885);
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.btnDiv button:first-child:hover {
  transition: 300ms;
  background-color: rgb(0, 0, 0);
}

.btnDiv button:last-child {
  height: 1.7rem;
  width: 18rem;
  font-size: 0.75rem;
  border: 1px solid black;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  background-color: white;
  font-family: "K2D", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.btnDiv button:last-child:hover {
  transition: 300ms;
  background-color: black;
  border: none;
  color: white;
}

.orDiv {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  bottom: 1rem;
}

.googleLoinDiv {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 1rem;
}

.googleLoinDiv button {
  height: 2rem;
  width: 13rem;
  border: none;
  border-radius: 3px;
  background-color: #ebebeb;
  font-size: 0.85rem;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.googleLoinDiv button:hover {
  transition: 150ms;
  background-color: #e1e1e1;
}

.googleLoinDiv button span {
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.TandCDiv {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  font-family: "K2D", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #878787;
}

/* .aldcft {
  display: none;
} */

/* .welcomeNoteDiv {
  position: relative;
  top: 33px;
  left: 22px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5vw;
} */

/* .mdc {
  display: flex;
  position: relative;
  top: -30px;
} */

/* .aldcft .button-container_email .form-floating input {
  border: none !important;
  border-bottom: 1px solid rgb(66, 64, 64) !important;
  border-radius: 0 !important;
} */

/* .aldcft .button-container_password {
  top: 11vh;
  left: 5vw;
} */

/* .aldcft .button-container_password .form-floating input {
  border: none !important;
  border-bottom: 1px solid rgb(66, 64, 64) !important;
  border-radius: 0 !important;
} */

/* .aldcft .mfp .forgotpwdlik {
  font-size: 1.7vw;
  top: 8vh;
  left: 110px;
} */

/* .aldcft .mlb .Loinbtn {
  position: relative;
  top: 7vh;
  left: 5vw;
  width: 80%;
} */

/* .forSscr {
  height: 100vh;
  width: 100vw;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

/* .welcomenote {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 15vw;
} */

/* .welcomenote .welcometxt {
  color: black;
  font-weight: 400;
} */

/* .welcomenote .greettxt {
  color: rgba(0, 0, 0, 0.764);
  font-weight: 500;
} */

/* .inputfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5vw;
}

.inputfield .email {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.inputfield .email label {
  font-size: 3vw;
}

.inputfield .email input {
  border: none;
  border-radius: 3px;
  width: 100% !important;
  outline: none;
  border-bottom: 1px solid rgb(170, 167, 167);
  margin-top: 1vw;
} */

/* .inputfield .password {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 4vw;
} */

/* .inputfield .password label {
  font-size: 3vw;
} */

/* .inputfield .password input {
  border: none;
  border-radius: 3px;
  width: 100% !important;
  outline: none;
  border-bottom: 1px solid rgb(170, 167, 167);
  margin-top: 1vw;
} */

/* .loginbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
} */

/* .loginbtn .subdivloginbtn {
  width: 70%;
} */

/* .loginbtn .subdivloginbtn button {
  width: 100%;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: rgb(13, 75, 14);
  color: white;
  height: 8vw;
  font-size: 4.5vw;
} */

/* .linkdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 5vw;
} */

/* Media Quaries */

/* @media only screen and (max-width: 1030px) {
  .signup-form-container {
    height: 50rem;
    width: 60rem;
  }
  .CompTitl img {
    height: 4rem;
  }
  .cretantlale {
    font-size: 2rem;
    width: 14rem;
  }
  .cretantbtn {
    padding: 2%;
    font-size: 1.3rem;
    margin-top: 2vw;
    margin-right: 3rem;
    width: 10rem;
    height: 2.5rem;
  }
  .lnepartion {
    height: 70vw;
    top: 4vw;
    left: 2rem;
  }
  .loinTtlDiv {
    height: 5rem;
  }
  .loinTtl {
    font-size: 2.5rem;
    grid-row: 10 / 10;
  }
  .aldc {
    display: block;
    position: relative;
    bottom: 12rem;
    left: 2rem;
  }
  .gretimgDiv {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  .gretimg {
    height: 22rem;
  }

  .detailsDiv {
    position: relative;
    left: 6vw;
    top: -5vh;
  }

  .forgotpwdlik {
    left: 15vw;
  }

  input {
    width: 25vw !important;
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 870px) {
  .gretimgDiv {
    position: relative;
    top: -20px;
    left: 25px;
  }

  .gretimg {
    height: 24vw;
  }

  .detailsDiv {
    position: relative;
    left: 6vw;
    top: -12vh;
  }

  input {
    width: 25vw !important;
    font-size: 12px !important;
  }

  label {
    font-size: 12px;
  }
}

@media only screen and (max-width: 770px) {
  .gretimgDiv {
    top: -40px;
  }

  .detailsDiv {
    top: -18vh;
  }
}

@media only screen and (max-width: 690px) {
  .loinTtlDiv {
    display: none !important;
  }

  .loinTtl {
    display: none;
  }

  .aldc {
    display: none;
  }
  .aldcft {
    display: block;
  }

  .cretantlale {
    top: 0vw;
  }

  .cretantbtn {
    padding: 1%;
    font-size: 1.4vw;
    width: 80%;
    border-radius: 3px;
  }
}

@media only screen and (max-width: 530px) {
  .welcomeNoteDiv {
    position: relative;
    top: 15px;
    left: 22px;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2vw;
  }

  .mdc {
    display: flex;
    position: relative;
    top: -60px;
  }

  .aldcft .mfp .forgotpwdlik {
    font-size: 1.7vw;
    top: 2vh;
    left: 80px;
  }

  .aldcft .mlb .Loinbtn {
    position: relative;
    top: 1vh;
    left: 5vw;
    width: 80%;
  }

  .cretantlale {
    top: -3vw;
  }

  label {
    font-size: 8px;
  }
}

@media only screen and (max-width: 500px) {
  .forBscr {
    display: none;
  }

  .forSscr {
    display: flex;
  }
}

@media only screen and (max-width: 400px) {
  .linkdiv .forgetlnk {
    font-size: 3.5vw;
  }

  .linkdiv .cretanaccountlnk {
    font-size: 3.5vw;
  }

  .loginbtn {
    position: relative;
    bottom: 10vw;
  }

  .linkdiv {
    bottom: 20vw;
  }

  .linkdiv .cretanaccountlnk {
    margin-top: 2vw;
  }
}

@media only screen and (max-width: 340px) {
  .inputfield {
    top: -3vw;
  }

  .loginbtn {
    position: relative;
    bottom: 20vw;
  }

  .linkdiv {
    bottom: 38vw;
  }
} */



@media screen and (max-width: 1040px) {
  .bodyDiv {
    display: flex;
  }
  .forBscr{
    display: none;
  }
  .inputDiv span input {
    width: 12rem;
  }
}

@media screen and (max-width: 900px) {
  .SCmainDiv {
    display: none;
  }
  .SCmainDivSM {
    height: 80%;
    width: 100%;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  .contDiv {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .welcomeNote {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-family: "K2D", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
  }
  .companyLogo {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 2rem;
  }
  .companyLogo img {
    height: 4.5rem;
  }
  .contWitgoogleDiv {
    display: flex;
    justify-content: center;
  }
  .contWitgoogleDiv button {
    height: 2.5rem;
    width: 18rem;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 4px;
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: "K2D", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .contWitgoogleDiv button span {
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .contWitgoogleDiv button:hover {
    transition: 300ms;
    background-color: black;
    border: none;
    color: white;
  }
  .loginCrednDiv {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .loginCrednDiv span {
    display: flex;
    flex-direction: column;
  }
  .loginCrednDiv span label {
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .loginCrednDiv span input {
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    width: 16rem;
    height: 2rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .forgotpassDivSM {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 3rem;
  }
  .forgotpassDivSM span {
    color: rgb(61, 61, 61);
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .forgotpassDivSM span a {
    text-decoration: none;
    color: rgb(92, 92, 246);
  }
  .loginbtnDiv {
    position: relative;
    bottom: 2rem;
  }
  .loginbtnDiv button {
    width: 19rem;
    height: 2.8rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1rem;
    font-family: "K2D", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .creteaccountDiv {
    position: relative;
    bottom: 2rem;
  }
  .creteaccountDiv a {
    color: black;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .TandCDivSM {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .TandCDivSM span {
    width: 90%;
    color: rgb(151, 151, 151);
    font-size: 0.8rem;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .TandCDivSM span a {
    text-decoration: none;
    color: rgb(125, 125, 255);
  }
  .imgDiv {
    width: 50%;
    height: 100%;
  }
  .imgDiv img {
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .contDiv {
    width: 100%;
  }
  .companyLogo {
    position: static;
  }
  .imgDiv {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .SCmainDivSM {
    height: 100%;
  }
}

@media screen and (max-width: 380px) {
  .welcomeNote {
    font-size: 3rem;
  }
  .companyLogo img {
    height: 4rem;
  }
  .forgotpassDivSM {
    bottom: 1.5rem;
  }
  .loginbtnDiv {
    bottom: 1rem;
  }
  .creteaccountDiv {
    bottom: 1rem;
  }
}

@media screen and (max-width: 330px) {
  .welcomeNote {
    font-size: 2rem;
  }
  .companyLogo img {
    height: 3.5rem;
  }
  .forgotpassDivSM span {
    font-size: 0.9rem;
  }
  .loginbtnDiv button {
    width: 18rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  .creteaccountDiv a {
    font-size: 1rem;
  }
}