.navbar {
  height: fit-content;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  background: rgb(239 239 239 / 90%);
  display: flex;
  z-index: 99999;
  justify-content: space-between;
}

.nav-logo {
  margin-top: 0.5vw;
  margin-bottom: 0vh;
  margin-right: 1vw;
  margin-left: 0.4vw;
}

.nav-logo img {
  height: 4vw;
}

.nav-logo a,
.navigation-items ul li a,
.join a {
  color: rgba(10, 10, 10, 0.899);
  text-decoration: none;
}

.navigation-items {
  width: 25vw;
  transform: translateX(25vw);
  background-color: rgb(239 239 239 / 90%);
}

.navigation-items ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 1.6vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
  transform: translateY(0.8vw);
  background-color: rgb(239 239 239 / 90%);
}

.navigation-items ul li{
  background-color: rgb(239 239 239 / 90%);
}

.navigation-items ul li a {
  background-color: rgb(239 239 239 / 90%);
}

.nav-divider {
  height: 4.5vw;
  width: 1px;
  border-right: 1px solid rgb(210, 209, 209);
  transform: translateX(18vw);
}

.join a {
  font-size: 1.9vw;
  margin-left: 1vw;
  background-color: rgb(239 239 239 / 90%);
}

.join {
  margin-left: 1vw;
  margin-right: 5vw;
  margin-top: 1vw;
  background-color: rgb(239 239 239 / 90%);
}

/* use media qua... */

@media only screen and (max-width: 1090px) {
  .nav-logo {
    margin-top: 0.5vw;
  }

  .nav-logo img {
    height: 4.8vw;
  }
  .navigation-items {
    width: 27vw;
    transform: translateX(22vw);
  }

  .navigation-items ul {
    margin-top: 1.6vw;
    font-size: 1.9vw;
    margin-bottom: 2vw;
  }

  .join a {
    font-size: 2.1vw;
  }

  .navigation-items ul li a,
  .join a {
    margin-left: 3vw;
  }
}

@media only screen and (max-width: 900px) {
  .nav-logo {
    margin-top: 0.5vw;
  }

  .navigation-items ul {
    font-size: 2.1vw;
    margin-bottom: 2vw;
  }

  .join a {
    font-size: 2.3vw;
  }

  .navigation-items {
    transform: translateX(14vw);
  }

  .navigation-items ul li a,
  .join a {
    margin-left: 4vw;
  }
}

@media screen and (max-width: 800px) {
  .nav-logo {
    margin-top: 0.5vw;
  }

  .nav-logo img {
    height: 5.3vw;
  }

  .navigation-items {
    transform: translateX(8vw);
  }

  .navigation-items ul {
    font-size: 2.4vw;
    margin-bottom: 2vw;
  }

  .join a {
    font-size: 2.6vw;
  }

  .navigation-items ul li a,
  .join a {
    margin-left: 5vw;
  }
}

@media only screen and (max-width: 700px) {
  .nav-logo {
    margin-top: 1vw;
  }

  .nav-logo img {
    height: 5.7vw;
  }

  .navigation-items ul {
    font-size: 2.7vw;
    margin-top: 2vw;
  }

  .navigation-items ul li a,
  .join a {
    margin-left: 3.8vw;
  }

  .navigation-items {
    transform: translateX(3vw);
  }

  .join {
    margin-top: 1.5vw;
  }

  .join a {
    font-size: 3vw;
  }

  .nav-divider {
    height: 7.5vw;
    transform: translateX(16vw);
  }
}

@media only screen and (max-width: 500px) {
  .navigation-items ul {
    font-size: 3.3vw;
    margin-top: 3vw;
    margin-bottom: 2vw;
  transform: translateY(0vw);
  }

  .navigation-items ul li a,
  .join a {
    margin-left: 4vw;
  }

  .navigation-items {
    transform: translateX(-12vw);
  }

  .join {
    margin-top: 1.5vw;
  }

  .join a {
    font-size: 3.8vw;
  }
}
